<nav>
    <ul class="loginBox">
        <img id="my-svg" src="../../assets/images/logo.svg">
        <mat-icon (click)="user()" id="account">account_circle</mat-icon>
    </ul>
</nav>

<div id="posts">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div id="postExclude{{item.post.id}}" style="margin-left: 10px;" *cdkVirtualFor="let item of items"
            class="example-item">
            <div style="display: flex;">
                <div style="margin-top: 18px;">
                    <mat-icon [ngClass]="{'voted': item.iLiked === true}"
                        (click)="alterColor(item, true)">keyboard_arrow_up</mat-icon>
                    <div style="display: flex;justify-content: center;align-items: center;">{{item.post.likes}}</div>
                    <mat-icon [ngClass]="{'voted': item.iLiked === false}"
                        (click)="alterColor(item, false)">keyboard_arrow_down</mat-icon>
                </div>
                <div style="margin-left: 20px;">
                    <div style="display: flex;align-items:first baseline;">
                        <h4>f/{{item.post.forumTitle}}</h4>
                        <h5 style="margin-left: 10px">Posted by</h5>
                        <h5 style="margin-left: 0.3em;cursor: pointer;text-decoration: underline"
                            (click)="goToUser(item.post.ownerId)">
                            {{item.post.ownerName}}</h5>
                    </div>
                    <h1>{{item.post.title}}</h1>
                    <h4>{{item.post.postMessage}}</h4>
                </div>
                <button *ngIf="item.post.ownerId === id" mat-icon-button color="warn" (click)="deletePost(item.post.id,item)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>

<div id="filters">
    <div style="margin-left: 20px;">
        <form>
            <mat-form-field style="height: auto;" class="example-chip-list">
                <mat-label>Choose Forums</mat-label>
                <mat-chip-grid #chipGrid aria-label="Fruit selection">
                    <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                        {{fruit}}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="Forums..." #fruitInput [formControl]="fruitCtrl" [matChipInputFor]="chipGrid"
                    [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)" />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        <mat-option [disabled]="fruits.includes(fruit)" [value]="fruit">
                            {{fruit}}
                        </mat-option>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <section class="example-section">
            <span class="example-list-section">
                <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                    [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                    {{task.name}}
                </mat-checkbox>
            </span>
            <span class="example-list-section">
                <ul>
                    <li *ngFor="let subtask of task.subtasks" style="margin-left: 10%">
                        <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                            {{subtask.name}}
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
        </section>
    </div>
</div>

<a id="btn">
    <button (click)="modal.toggle()" style="font-size:xx-large" mat-mini-fab color="primary"
        aria-label="Example icon button with a menu icon">
        +
    </button>
    <app-modal #modal>
        <div class="modal-container">
            <div class="inputs">
                <p>
                    <a href="/new-forum-component" style="color: var(--gold);">New forum</a>
                </p>
                <a href="/new-post-component" style="color: var(--gold);">New post</a>
            </div>
        </div>
    </app-modal>
</a>