<div id="sign">
    <div id="centre">
        <h1 style="display: flex;justify-content: center;color: var(--gold);">Create new account </h1>
        <form class="example-form">
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter an email</mat-label>
                    <input matInput placeholder="pat@example.com" name="email" [formControl]="email"
                        [(ngModel)]="SignInUserService.email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter an username</mat-label>
                    <input matInput placeholder="pat" name="username" [formControl]="username"
                        [(ngModel)]="SignInUserService.username" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" name="age" [(ngModel)]="SignInUserService.age">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter a password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" [formControl]="password"
                        [(ngModel)]="SignInUserService.password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>

        <div style="display: flex; justify-content: center;" class="example-button-row">
            <button (click)="add()" mat-raised-button color="primary">Create!</button>
        </div>
    </div>
</div>