<button id="btn" mat-raised-button color="primary" (click)="createFollowBtn()">{{btnTxt}}</button>

<div id="imgDiv">
    <img id="img" src="{{ pic }}">
</div>

<p id="name">
    {{username}}
</p>

<div id="foruns">
    <h1 id="titles">My Foruns</h1>
    <cdk-virtual-scroll-viewport style="margin-left: 10px;" itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let item of itemsForums" class="example-item">
            <div style="display: flex;align-items:first baseline;">
                <h2 style="margin: 0 0 0 0;">{{item.title}}</h2>
                <h5 style="margin: 0 0 0 10px;">Made by </h5>
                <h5 style="margin-left: 0.3em;cursor: pointer;text-decoration: underline"
                    (click)="goToUser(item.ownerId)">
                    {{item.ownerName}}</h5>
            </div>
            <h5>{{item.forumDescription}}</h5>

        </div>
    </cdk-virtual-scroll-viewport>
</div>
<div id="likes">
    <h1 id="titles">Likes</h1>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div style="margin-left: 10px;" *cdkVirtualFor="let item of itemsLiked" class="example-item">
            <div style="display: flex;">
                <div style="margin-top: 18px;">
                    <mat-icon [ngClass]="{'voted': item.iLiked === true}"
                        (click)="alterColor(item, true)">keyboard_arrow_up</mat-icon>
                    <div style="display: flex;justify-content: center;align-items: center;">{{item.post.likes}}</div>
                    <mat-icon [ngClass]="{'voted': item.iLiked === false}"
                        (click)="alterColor(item, false)">keyboard_arrow_down</mat-icon>
                </div>
                <div style="margin-left: 20px;">
                    <div style="display: flex;align-items:first baseline;">
                        <h4>f/{{item.post.forumTitle}}</h4>
                        <h5 style="margin-left: 10px;">Posted by </h5>
                        <h5 style="margin-left: 0.3em;cursor: pointer;text-decoration: underline"
                            (click)="goToUser(item.post.ownerId)">
                            {{item.post.ownerName}}</h5>
                    </div>
                    <h1>{{item.post.title}}</h1>
                    <h4>{{item.post.postMessage}}</h4>
                </div>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<div id="following">
    <h1 id="titles">Following</h1>
    <cdk-virtual-scroll-viewport style="margin-left: 10px;" itemSize="50" class="example-viewport">
        <div style="display: flex;" *cdkVirtualFor="let item of itemsFollowing" class="example-item">
            <a (click)="goToUser(item.idAndUsername.userID)"
                style="cursor: pointer;text-decoration: none;color: var(--gold);">
                <h1>{{item.idAndUsername.username}}</h1>
            </a>
        </div>
    </cdk-virtual-scroll-viewport>
</div>