#foruns {
    position: absolute;
    background-color: var(--auxBg);
    height: 60%;
    width: 33.3%;
    margin-left: 0.5%;
}

#likes {
    position: absolute;
    background-color: #ccc9ca;
    height: 60%;
    width: 33.3%;
    margin-left: 33.3%;
}

#following {
    position: absolute;
    background-color: #848182;
    height: 60%;
    width: 33.3%;
    margin-left: 66.2%;
}

#name {
    display: flex;
    justify-content: center;
    color: var(--gold);
    font-size: xx-large;
    margin-top: 10px;
}

#titles {
    display: flex;
    justify-content: center;
    color: var(--gold);
}

.example-viewport {
    height: 54.8vh;
    width: 100%;
}

.example-item {
    height: auto;
    margin-bottom: 5%;
}

::-webkit-scrollbar {
    display: none
}

#img {
    height: 33vh;
    max-width: 100vw;
    border-radius: 40%;
}

#imgDiv {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voted {
    color: var(--gold);
}

.btn {
    display: none;
}

.btnClicked {
    
}