<div id="sign">
    <div id="centre">
        <form class="example-form">
            <input type="file" style="margin-bottom: 10px;" class="file-upload" onchange="console.log(event.target.files)">
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Discription</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
        </form>
        <div style="display: flex; justify-content: center;" class="example-button-row">
            <button mat-raised-button color="primary">Primary</button>
        </div>
    </div>
</div>