<div id="sign">
    <div id="centre">
        <h1 style="display: flex;justify-content: center;color: var(--gold);">Login to your account </h1>
        <form class="example-form">
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter an username</mat-label>
                    <input matInput placeholder="pat" name="username" [formControl]="username"
                        [(ngModel)]="LogInUserService.username" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter a password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" [formControl]="password"
                        [(ngModel)]="LogInUserService.password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>
        <div style="display: flex; justify-content: center;" class="example-button-row">
            <button (click)="add()" mat-raised-button color="primary">Log in</button>
        </div>
        <a href="sign-in-component" style="display: flex;justify-content: center;color: var(--gold);margin-top: 10px;">Create an account</a>
    </div>
</div>