#sign {
    width: 28vw;
    height: fit-content;
    background: var(--auxBg);
    margin:auto;
    display: flex;
    justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 4vh;
}

#centre {
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

mat-form-field {
    width: 25vw;
    height: auto;
}