<div id="sign">
    <div id="centre">
        <form class="example-form">
            <input type="file" accept="image/*" (change)="updateImg($event)">
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Ex. Pizza" name="title" [formControl]="title"
                    [(ngModel)]="NewPostService.title" required>
            </mat-form-field>

            <form>
                <mat-form-field style="height: auto;" class="example-chip-list">
                    <mat-label>Choose Forums</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Fruit selection">
                        <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                            {{fruit}}
                            <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="Forum..." #fruitInput [formControl]="fruitCtrl" [matChipInputFor]="chipGrid"
                        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                            <mat-option [disabled]="fruits.includes(fruit)" [value]="fruit">
                                {{fruit}}
                            </mat-option>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>



            <mat-form-field class="example-full-width">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." name="postMessage" [formControl]="postMessage"
                    [(ngModel)]="NewPostService.postMessage" required></textarea>
            </mat-form-field>
        </form>
        <div style="display: flex; justify-content: center;" class="example-button-row">
            <button (click)="addA()" mat-raised-button color="primary">Post!</button>
        </div>
    </div>
</div>